// colors
$primary-text-white: #fff;
$primary-text-black: #000000;
$primary-text-link: #0000ff;
$primary: #ffb703;
// colors

// fonts
$anton: "Anton", sans-serif;
$PTSerif: "PT Serif", serif;
$ubuntu: "Ubuntu", sans-serif;
// fonts

// mixins
@mixin hoverAnimation {
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 0px;
    background-color: black;
    bottom: 0;
    left: 0px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
  }

  &:hover::after {
    height: 1px;
    width: 100%;
  }
}
// container class
.container {
  max-width: 1300px;
  margin: 0 auto;
}