.button {
  bottom: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  background: #e8e8f3;
  position: absolute;
  opacity: 0;

  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;

  &:hover {
    transform: scale(1.1);
  }
}

.menu {
  position: relative;
  cursor: pointer;

  &.open {
    .button {
      opacity: 1;
      pointer-events: auto;

      &:first-of-type {
        bottom: -40px;
        right: 40px;
      }

      &:nth-of-type(2) {
        bottom: -80px;
        transition-delay: 0.05s;
        left: -10px;
        right: auto;
      }

      &:last-of-type {
        bottom: -40px;
        right: -60px;
        transition-delay: 0.1s;
      }
    }
  }
}
