@import "../../assets/scss/global";
.button {
  bottom: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: $primary;
  position: absolute;
  opacity: 0;

  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;

  
}

.menu {
  position: relative;
  cursor: pointer;
  
  &.open {
    .button {
      opacity: 1;
      pointer-events: auto;
      border: 1px solid black;

      &:first-of-type {
        right: -10px;
        bottom: -120px;
        transition-delay: 0.10s;
        &:hover{
          scale: 0.9;
        }
      }

      &:nth-of-type(2) {
        bottom: -60px;
        left: -10px;
        right: auto;
        &:hover{
          scale: 0.9;
        }
      }
    }
  }
}
