@import "../../assets/scss/global";

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  width: 250px;
  height: 100%;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffdd83;
  overflow: hidden;

  font-family: $ubuntu;
  a {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0 10px 0;
  }
  img {
    max-width: 100%;
    height: 150px;
  }
  .warrapTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    gap: 5px;
    h2 {
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }
    span {
      font-size: 1rem;
      font-weight: 700;
      color: green;
    }
  }
  button {
    display: flex;
    gap: 10px;
    border: none;
    background-color: #f2921d;
    width: 100%;
    height: 60px;
    opacity: 0;
    position: absolute;
    bottom: -50px;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    button {
      opacity: 1;
      bottom: 0;
    }
  }
}
