@import "../../assets/scss/global";

section {
  padding: 20px;
  margin-top: 2rem;
}
.product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: $primary-text-white;
  max-width: 1200px;
  flex-wrap: wrap;
  .img-container {
    display: grid;
    justify-items: center;
    width: 500px;
    img {
      max-width: 100%;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    h1 {
      font-size: 2rem;
      font-weight: 700;
      font-family: $PTSerif;
    }

    p {
      font-size: 1.3rem;
      font-family: $PTSerif;
    }

    span {
      font-size: 2rem;
      font-family: $ubuntu;
      font-weight: 700;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      background-color: $primary;
      border-radius: 20px;
      padding: 3px;
      gap: 10px;

      font-family: $PTSerif;
      font-size: 1.5rem;
      font-weight: 600;
    }
    @media screen and (max-width: 768px) {
      p {
        font-size: 1rem;
      }

      span {
        font-size: 2rem;
      }
    }
    @media screen and (max-width: 425px) {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}

.add-to-cart-container{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;  
  @media(max-width: 1024px){
    justify-content: center;
  }
}
