@use "../../assets/scss/global";
@import "../../assets/scss/global";

header {
  padding: 2rem;
  background-color: $primary;
  font-family: $ubuntu;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
      font-weight: 400;
      font-size: 1rem;
      cursor: pointer;
      position: relative;
      transition: 0.5s ease;
      @include hoverAnimation;
      padding-bottom: 0.2rem;
    }
    .choose-category {
      display: flex;
      align-items: center;
      max-width: 600px;
      gap: 2rem;
      h1 {
        a {
          font-size: 2rem;
          font-family: $anton;
        }
      }

      ul {
        display: flex;
        gap: 1rem;
      }
    }
    .warrapButtons {
      display: flex;
      gap: 1rem;
      align-items: center;

      .warrapLinks {
        display: inline-flex;
        gap: 1rem;
      }

      .shoppingCart {
        position: relative;
        cursor: pointer;
        &:hover {
          scale: 1.1;
        }
        .numberItens {
          position: absolute;
          background-color: red;
          border-radius: 10px;
          text-align: center;
          bottom: 0px;
          left: 20px;
          width: 20px;
          font-weight: 700;
          color: white;
        }
      }
    }
  }
}

.icon{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  transition: .5s ease;
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
}