@use '../../assets/scss/global';
@import "../../assets/scss/global";

header {
  padding: 2rem;
  border-bottom: 1px solid #023047;
  background-color: #ffb703;
}


nav {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  .btns {
    display: flex;
    gap: 1rem;

    .btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-family: $ubuntu;
      font-weight: 400;
      position: relative;
      transition: .5s ease;
      @include hoverAnimation;
    }
    

    .icon {
      background-color: transparent;
      font-size: 1.2rem;
      border: none;
    }

  }

  .choose-category {
    display: flex;
    align-items: center;
    max-width: 600px;
    gap: 2rem;
    h1 {
      color: black;
      font-size: 2rem;
      font-family: $anton;
    }

    ul {
      display: flex;
      gap: 2rem;
    }

    li a{
      font-family: $ubuntu;
      font-weight: 400;
      cursor: pointer;
      transition: .5s ease;
      position: relative;
      @include hoverAnimation;
      text-decoration: none;
      color: black;
      padding-bottom: .2rem;
    }
  }
}
