@import "../../assets/scss/global";

.containerLogin {
  max-width: 1440px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  .warrap {
    background-color: gray;
    border-radius: 10px;
    padding: 30px;
  }
  .login {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: $ubuntu;
    gap: 15px;
    h2 {
      font-size: 2rem;
      font-weight: 600;
    }
    .warrapInput {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      p {
        align-self: baseline;
        span {
          font-weight: 700;
          text-transform: capitalize;
        }
        a {
          font-weight: 700;
          color: rgb(29, 79, 242);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      label {
        font-size: 1.125rem;
        font-weight: 700;
        align-self: baseline;
      }
      input[type="email"],
      input[type="password"] {
        border-radius: 5px;
        width: 300px;
        height: 25px;
        border: 2px solid black;
        outline: none;

        &:focus {
          appearance: auto;
          border: 2px solid blue;
        }
      }
      button {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: background 0.4s ease-in-out;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    > p {
      span {
        color: $primary-text-link;
        &:hover {
          text-decoration: underline;
          color: chocolate;
          cursor: pointer;
        }
      }
    }
    details {
      summary {
        color: $primary-text-link;
        cursor: pointer;
        margin-bottom: 5px;
        &:hover {
          text-decoration: underline;
          color: chocolate;
        }
      }
      p {
        color: $primary-text-link;
        cursor: pointer;
        margin-bottom: 5px;
        &:hover {
          text-decoration: underline;
          color: chocolate;
        }
      }
    }
  }
}
