@import "../../assets/scss/global";

.warrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px;
  font-family: $ubuntu;
  @media screen and (max-width: 425px) {
    grid-template-columns: 1fr;
    .illustration {
      display: none;
    }
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    background-color: $primary;
    border-radius: 8px;
    small {
      margin: 0rem 0 1rem 0;
      color: red;
      font-weight: 700;
    }
    h1 {
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .inputBox {
      position: relative;
      width: 250px;
      margin-bottom: 1rem;
    }
    .inputBox {
      > input {
        width: 100%;
        padding: 10px;
        outline: none;
        border: none;
        color: #000;
        font-size: 1em;
        background: transparent;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        transition: 0.1s;
        border-bottom-left-radius: 8px;
      }
    }
    .inputBox {
      > span {
        margin-top: 5px;
        position: absolute;
        left: 0;
        transform: translateY(-4px);
        margin-left: 10px;
        padding: 10px;
        pointer-events: none;
        font-size: 12px;
        color: #000;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 3px;
        border-radius: 8px;
      }
    }
    .inputBox input:valid ~ span,
    .inputBox input:focus ~ span {
      transform: translateX(130px) translateY(-15px);
      font-size: 0.8em;
      padding: 5px 10px;
      background: #000;
      letter-spacing: 0.2em;
      color: #fff;
      border: 2px;
    }

    .inputBox input:valid,
    .inputBox input:focus {
      border: 2px solid #000;
      border-radius: 8px;
    }

    .enter {
      height: 45px;
      width: 100px;
      border-radius: 5px;
      border: 2px solid #000;
      cursor: pointer;
      background-color: transparent;
      transition: 0.5s;
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: 1em;
    }

    .enter:hover {
      background-color: rgb(0, 0, 0);
      color: white;
    }
  }
}
