@import "../../assets/scss/global";

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;

  align-items: center;
  background-color: $primary;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (max-width: 425px) {
    grid-template-columns: 1fr;
    > svg {
      display: none;
    }
  }
}
.about {
  padding: 20px;
  font-family: $ubuntu;
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
