@use "../../assets/scss/global";
@import "../../assets/scss/global";

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 99;
  width: 400px;
  background-color: $primary;
 @media(max-width: 376px){
  width: 100%
 }
}

.cart-header {
  padding-block: 2rem;
  padding-inline: 1rem;
  gap: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  .price-box {
    h2 {
      font-size: 1.5rem;
      font-family: $anton;
    }
  }
}

.products-list {
  margin: 0 auto;
  height: 450px;
  padding: 1rem;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 7px;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-text-black;
    border-radius: 10px;
  }

  @media (max-width: 426px) {
    height: 350px;
  }
}

.checkInBtn {
  margin: 0 auto;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
}

.closeBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.5s ease;
  @include hoverBtn;
}

.checkInContainer {
  text-align: center;
  @media (max-width: 426px) {
    margin-top: 1rem;
  }
}
