@import '../../assets/scss/global';



aside{ 
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 99;
    background-color: $primary;
}

.cart-header{ 
    padding-block: 2rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    .price-box{ 
        h2{ 
            font-size: 1.5rem;
            font-family: $anton;
            cursor: pointer;
        }
    }
}

.products-list{ 
    margin-top: 3rem;
    height: 550px;
    padding: 1rem;
    overflow: scroll;
    overflow-x: hidden;
}

